/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    background-image: url(./9bedfd6213e65b0b272b3569bcd68591.jpg); 
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
   
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    border: 20px solid rgba(0, 0, 0, 0.7); ;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7); ;
  }
  a:hover{
    border-color: rgb(255, 72, 0);
    background-color: rgb(255, 72, 0);
  }
  
  main {
    padding: 20px;
  }
  
  .footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    display: block;
  }
  .footers {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
.tarihce{
  size: 70px;
}
@media(max-width: 1070px){
  .footers{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    display: block;
  }
}

  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      display: block;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }